.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  box-shadow: 0 0 20px 0 rgba(26, 3, 3, 0.1);
  padding: 10px;
}

.status {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}
