.transactionHistory {
  font-size: 18px;
  border-collapse: separate;
  box-shadow: 0 4px 2px -2px gray;
  margin-bottom: 20px;
}

th,
td {
  padding: 16px 24px;
  text-align: left;
}

thead tr {
  background-color: #3bc9db;
  color: #fff;
}

thead th {
  width: 24%;
}

tbody tr:nth-child(odd) {
  background-color: #f8f9fa;
}

tbody tr:nth-child(even) {
  background-color: #e9ecef;
}
